body {
  min-height: 100vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.vertical {
  display:block;
  transform:rotate(90deg);
  transform-origin:50% 50%;
  text-align:center;
  white-space:nowrap;
}

.vertical:before {
  content:'';
  padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
  display:inline-block;
  vertical-align:middle;
}
 td {text-align: center;}
.birth {
  background:green;
  color:white;
}
.fab {
  position: fixed;
  bottom: 1em;
  right: 1em;
  padding:1em;
  background:green;
  color:white;
  text-decoration: none;;
}
.present {
  background:green;
  color:white;
}

.row-anchor {
  display: block;
  position: relative; 
  top: -50vh;
  visibility: hidden;
}
thead th { 
  position: sticky;
  top: 0;
  background: #282c34;
  padding:4px 4px;
  border-bottom: 1px solid white;

  font-size: 12px;
}
thead th a {
  color: white;
  text-decoration: none;;
}
.range-start,
.range-middle,
.range-end{
  border:1px solid white;
}
.range-start {
  border-bottom:0;
  border-top-right-radius: 0.5em;;
  border-top-left-radius: 0.5em;;
}
.range-middle {
  border-top:0;
  border-bottom:0;
}
.range-end {
  border-top:0;
  border-bottom-right-radius: 0.5em;;
  border-bottom-left-radius: 0.5em;;
  margin-bottom:.25em;
}

table {
  width:100%;
  max-width:100%;
  border-spacing:0;
}

th:nth-child(2) {border-right: 1px solid white;}